@model IEnumerable<Websitebansach.Models.KhachHang>

@{
    ViewBag.Title = "Danh sách người dùng";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
 
<h2>Danh sách người dùng</h2>

<p>
    @*@Html.ActionLink("Thêm người dùng mới", "Create", null, new { @class = "btn btn-primary" })*@
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Mã KH</th>
            <th>Họ Tên</th>
            <th>Tài Khoản</th>
            <th>Email</th>
            <th>Điện Thoại</th>
            <th>Quyền</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaKH</td>
                <td>@item.HoTen</td>
                <td>@item.TaiKhoan</td>
                <td>@item.Email</td>
                <td>@item.DienThoai</td>
                <td>@item.quyen</td>
                <td>
                    @*@Html.ActionLink("Chi tiết", "Details", new { id = item.MaKH }, new { @class = "btn btn-info btn-sm" }) |*@
                    @*@Html.ActionLink("Sửa", "Edit", new { id = item.MaKH }, new { @class = "btn btn-warning btn-sm" }) |*@
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaKH }, new { @class = "btn btn-danger btn-sm" })

                </td>
            </tr>
        }
    </tbody>
</table>
